{% extends '::base.html.twig' %}

{% block title %}Prova Categorie{% endblock %}

{% block body %}
<h1>Hrrr fatto!</h1>
Figli di pizza :
{% for child in childs %}
    <ul>
    <li>{{ child.title }}</ki>
    </ul>
{% endfor %}

{% for item in path %}
    {{ item.title }} -->
{% endfor %}
{% endblock %}
